{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>FitFlex</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="main-header">
        <nav class="main-nav">
            <span class="logo"><a href="#"><img src="{% static 'img/logo.svg' %}" alt="логотип FitFlex" width="105" height="100"></a></span>
            <ul class="main-nav-list">
                <li class="main-nav-item"><a href="#">Программы тренировок</a></li>
                <li class="main-nav-item"><a href="#">Полезные статьи</a></li>
                <li class="main-nav-item"><a href="#">О нас</a></li>
                <li class="main-nav-item"><a href="#">Контакты</a></li>
            </ul>
            <button class="button-nav" type="button"><p>Пройти опрос</p><img src="{% static 'img/Vector_2.svg' %}" class="vector_2" height="28" width="28"></button>
            {% if user.is_authenticated %}
            <button class="icon"><a href="/profile" id="open_profile"><img src="{% static 'img/avatar.svg' %}" alt="Иконка пользователя" width="44" height="44"></a></button>
            {% else %}
            <button class="icon"><a href="#" id="open_pop_up"><img src="{% static 'img/avatar.svg' %}" alt="Иконка пользователя" width="44" height="44"></a></button>
            {% endif %}
        </nav>
    </header>
    <main>
        <section class="hero">
            <div class="container">
                <h1>FitFlex</h1>
                <h2>Портал в мир Фитнесса и Здоровья</h2>
                <p>Добро пожаловать на FitFlex — портал в мир Фитнесса. Независимо от вашего уровня подготовки, мы поможем подобрать программу, которая идеально соответствует вашим потребностям и возможностям. Наш Сайт предлагает адаптированные тренировки для всех — от новичков до опытных спортсменов, а также для тех, кто восстанавливается после травм или стремится поддерживать форму и здоровье.</p>
                <div class="pagination">
                    <span class="dot active"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
                <div class="arrow">
                    <img src="{% static 'img/button_2.svg' %}" alt="Arrow Right">
                </div>
            </div>
        </section>

        <div id="openModal-enter" class="modal">
            <div class="modal-dialog-enter">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">С ВОЗВРАЩЕНИЕМ!</h3>
                        <p class="modal-subtitle">Пожалуйста, введите свои данные</p>
                        <a href="#close" title="Close" class="close">×</a>
                    </div>
                    <div class="modal-body">
                        <form id="loginForm" action="/login/" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" name="email" class="form-control" placeholder="Введите свой email" required />
                            </div>
                            <div class="form-group">
                                <label>Пароль</label>
                                <input type="password" name="password" class="form-control" placeholder="**********" required>
                                {% if error and error_type == 'login' %}
                                <div class="error-text">{{ error }}</div>
                                {% endif %}
                                <div id="message"></div>
                            </div>
                            <div class="form-group">
                                <div class="btn-group-enter">
                                    <div class="remember-me">
                                    <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1"/>
                                    <label for="styled-checkbox-1">Запомнить меня</label>
                                </div>
                                    <button type="submit" class="btn btn-model">
                                        Войти
                                    </button>
                                    <button type="button" class="btn btn-google" >
                                        Войти с помощью Google
                                    </button>
                                </div>
                                <p>Нет аккаунта? <a href="#" class="switch-popup">Зарегистрируйся!</a></p>
                            </div>
                        </form>
                    </div>
              </div>
            </div>
        </div>
        
        <div id="openModal-register" class="modal">
            <div class="modal-dialog-register">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">ДОБРО ПОЖАЛОВАТЬ!</h3>
                        <p class="modal-subtitle">Пожалуйста, укажите следующие данные для регистрации</p>
                        <a href="#close" title="Close" class="close">×</a>
                    </div>
                    <div class="modal-body">
                        <form action="/register/" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" name="email" class="form-control" placeholder="Введите свой email" required />
                            </div>
                            <div class="form-group">
                                <label>Пароль</label>
                                <input type="password" name="password" class="form-control" placeholder="**********" required>
                            </div>
                            <div class="form-group">
                                <label>Повторите пароль</label>
                                <input type="password" name="password_confirm" class="form-control" placeholder="**********" required>
                                {% if error and error_type == 'register' %}
                                <div class="error-text">{{ error }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-model" id="btn_swap_popUp">
                                        Зарегистрироваться
                                    </button>
                                    <button type="button" class="btn btn-google" >
                                        Войти с помощью Google
                                    </button>
                                </div>
                                <p>Есть аккаунт? <a href="#" class="switch-popup">Войди!</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <section class="survey">
            <div class="survey-content">
                <div class="survey-content-header">
                    <h3>Пройди котороткий опрос, и мы подберём для тебя
                    подходящую тренировку!</h3>
                    <img src="{% static 'img/survey.svg' %}" width="62" height="83">
                </div>
                <button id ="start-survey"><img src="{% static 'img/pencil.svg' %}" width="35" height="35"><p>Пройти опрос</p></button>
            </div>
        </section>
        <section class="trainings">
            <h2>Тренировки</h2>
            <div class="filters-menu">
                <div class="filters-header">
                    <div class="filter">
                        <a>Уровень подготовки</a>
                        <div class="dropdown">
                            <div data-f="novice" class="dropdown-item">
                                <input type="checkbox" id="novice" onchange="filterCards()"><a>Новичок</a>
                            </div>
                            <div data-f="intermediate" class="dropdown-item">
                                <input type="checkbox" id="intermediate" onchange="filterCards()"><a>Продвинутый</a>
                            </div>
                            <div data-f="advanced" class="dropdown-item">
                                <input type="checkbox" id="advanced" onchange="filterCards()"><a>Мастер в своём деле</a>
                            </div>
                        </div>
                    </div>
                    <div class="filter">
                        <a>Цель</a>
                        <div class="dropdown">
                            <div data-f="slim" class="dropdown-item">
                                <input type="checkbox" id="goal-slim" onchange="filterCards()"><a>Похудение</a>
                            </div>
                            <div data-f="mass" class="dropdown-item">
                                <input type="checkbox" id="goal-mass" onchange="filterCards()"><a>Набор массы</a>
                            </div>
                            <div data-f="maintain" class="dropdown-item">
                                <input type="checkbox" id="goal-maintain" onchange="filterCards()"><a>Поддержание формы</a>
                            </div>
                        </div>
                    </div>
                    <div class="filter">
                        <a>Место</a>
                        <div class="dropdown">
                            <div data-f="gym" class="dropdown-item">
                                <input type="checkbox" id="place-gym" onchange="filterCards()"><a>Зал</a>
                            </div>
                            <div data-f="home" class="dropdown-item">
                                <input type="checkbox" id="place-home" onchange="filterCards()"><a>Дом</a>
                            </div>
                        </div>
                    </div>
                    <div class="filter">
                        <a>Пол</a>
                        <div class="dropdown">
                            <div data-f="male" class="dropdown-item">
                                <input type="checkbox" id="gender-male" onchange="filterCards()"><a>Муж.</a>
                            </div>
                            <div data-f="female" class="dropdown-item">
                                <input type="checkbox" id="gender-female" onchange="filterCards()"><a>Жен.</a>
                            </div>
                        </div>
                    </div>
                    <div class="filter">
                        <a>Специальное</a>
                        <div class="dropdown">
                            <div data-f="equipment" class="dropdown-item">
                                <input type="checkbox" id="special-equipment" onchange="filterCards()"><a>Со спортивным инвентарём (для дома)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="trainings-section">
            <div class="trainings-cards">
                <div id="cards-container">
                    <div id="cards-container">
                        <div class="training-card card" data-level="novice" data-goal="slim" data-place="gym" data-gender="male" data-special="equipment">
                            <h3>Тренировка для новичков (похудение, зал, муж.)</h3>
                            <img src="{% static 'img/Beginner_Slim.svg' %}" alt="Тренировка">
                            <p>Эта тренировка предназначена для новичков, которые хотят похудеть. Она включает в себя базовые упражнения и растяжку.</p>
                            <button class="choose-button">Выбрать</button>
                        </div>
                        <div class="training-card card" data-level="intermediate" data-goal="mass" data-place="home" data-gender="female" data-special="">
                            <h3>Тренировка для продвинутых (набор массы, дом, жен.)</h3>
                            <img src="{% static 'img/Intermediate_Mass.svg' %}" alt="Тренировка">
                            <p>Эта тренировка подходит для тех, кто уже имеет некоторый опыт и хочет набрать мышечную массу, выполняя упражнения с собственным весом.</p>
                            <button class="choose-button">Выбрать</button>
                        </div>
                        <div class="training-card card" data-level="advanced" data-goal="maintain" data-place="gym" data-gender="male" data-special="equipment">
                            <h3>Тренировка для мастеров (поддержание формы, зал, муж.)</h3>
                            <img src="{% static 'img/Split.svg' %}" alt="Тренировка">
                            <p>Эта продвинутая тренировка включает в себя сплит-систему, которая помогает поддерживать форму и развивать силу.</p>
                            <button class="choose-button">Выбрать</button>
                        </div>
                        <div class="training-card card" data-level="novice" data-goal="maintain" data-place="home" data-gender="female" data-special="">
                            <h3>Тренировка для новичков (поддержание формы, дом, жен.)</h3>
                            <img src="{% static 'img/Beginner_Maintain.svg' %}" alt="Тренировка">
                            <p>Эта тренировка подходит для новичков, которые хотят поддерживать свою физическую форму с помощью простых упражнений.</p>
                            <button class="choose-button">Выбрать</button>
                        </div>
                        <div class="training-card card" data-level="intermediate" data-goal="slim" data-place="gym" data-gender="male" data-special="equipment">
                            <h3>Тренировка для продвинутых (похудение, зал, муж.)</h3>
                            <img src="{% static 'img/Intermediate_Slim.svg' %}" alt="Тренировка">
                            <p>Эта тренировка предназначена для тех, кто хочет похудеть, сочетая кардио и силовые упражнения.</p>
                            <button class="choose-button">Выбрать</button>
                        </div>
                        <div class="training-card card" data-level="advanced" data-goal="mass" data-place="home" data-gender="female" data-special="">
                            <h3>Тренировка для мастеров (набор массы, дом, жен.)</h3>
                            <img src="{% static 'img/Advanced_Mass.svg' %}" alt="Тренировка">
                            <p>Эта тренировка предназначена для опытных атлетов, которые хотят увеличить мышечную массу с помощью сложных упражнений.</p>
                            <button class="choose-button">Выбрать</button>
                        </div>
                        <div class="training-card card" data-level="novice" data-goal="slim" data-place="gym" data-gender="female" data-special="equipment">
                            <h3>Тренировка для новичков (похудение, зал, жен.)</h3>
                            <img src="{% static 'img/Beginner_Slim.svg' %}" alt="Тренировка">
                            <p>Эта тренировка включает в себя простые упражнения для похудения, идеально подходит для начинающих.</p>
                            <button class="choose-button">Выбрать</button>
                        </div>
                        <div class="training-card card" data-level="intermediate" data-goal="maintain" data-place="home" data-gender="male" data-special="">
                            <h3>Тренировка для продвинутых (поддержание формы, дом, муж.)</h3>
                            <img src="{% static 'img/Intermediate_Maintain.svg' %}" alt="Тренировка">
                            <p>Эта тренировка предназначена для мужчин с некоторым опытом, которые хотят поддерживать свою физическую форму, выполняя упражнения в домашних условиях.</p>
                            <button class="choose-button">Выбрать</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="{% static 'home_js/tranings-filter.js' %}"></script>
    </main>
    <script src="{% static 'home_js/filter.js' %}"></script>
    <script src="{% static 'home_js/main.js' %}" type="module"></script>
</body>
</html>