{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>FitFlex</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="main-header">
        <nav class="main-nav">
            <span class="logo"><a href="#"><img src="{% static 'img/logo.svg' %}" alt="логотип FitFlex" width="105"
                        height="100"></a></span>
            <ul class="main-nav-list">
                <li class="main-nav-item"><a href="#">Программы тренировок</a></li>
                <li class="main-nav-item"><a href="#">Полезные статьи</a></li>
                <li class="main-nav-item"><a href="#">О нас</a></li>
                <li class="main-nav-item"><a href="#">Контакты</a></li>
            </ul>
            <button class="button-nav" type="button">
                <p>Пройти опрос</p><img src="{% static 'img/Vector_2.svg' %}" class="vector_2" height="28" width="28">
            </button>
            {% if user.is_authenticated %}
            <button class="icon"><a href="/profile" id="open_profile"><img src="{% static 'img/avatar.svg' %}"
                        alt="Иконка пользователя" width="44" height="44"></a></button>
            {% else %}
            <button class="icon open-modal"><a href="#" id="open_pop_up111"><img src="{% static 'img/avatar.svg' %}"
                        alt="Иконка пользователя" width="44" height="44"></a></button>
            {% endif %}
        </nav>
    </header>
    <main>
        <section class="hero">
            <div class="container">
                <h1>FitFlex</h1>
                <h2>Портал в мир Фитнесса и Здоровья</h2>
                <p>Добро пожаловать на FitFlex — портал в мир Фитнесса. Независимо от вашего уровня подготовки, мы
                    поможем подобрать программу, которая идеально соответствует вашим потребностям и возможностям. Наш
                    Сайт предлагает адаптированные тренировки для всех — от новичков до опытных спортсменов, а также для
                    тех, кто восстанавливается после травм или стремится поддерживать форму и здоровье.</p>
                <div class="pagination">
                    <span class="dot active"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
                <div class="arrow">
                    <img src="{% static 'img/button_2.svg' %}" alt="Arrow Right">
                </div>
            </div>
        </section>

        <div id="openModal-enter" class="modal">
            <div class="modal-dialog-enter">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">С ВОЗВРАЩЕНИЕМ!</h3>
                        <p class="modal-subtitle">Пожалуйста, введите свои данные</p>
                        <a href="#close" title="Close" class="close">×</a>
                    </div>
                    <div class="modal-body">
                        <form id="loginForm" action="/login/" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" name="email" class="form-control" placeholder="Введите свой email"
                                    required />
                            </div>
                            <div class="form-group">
                                <label>Пароль</label>
                                <input type="password" name="password" class="form-control" placeholder="**********"
                                    required>
                                {% if error and error_type == 'login' %}
                                <div class="error-text">{{ error }}</div>
                                {% endif %}
                                <div id="message"></div>
                            </div>
                            <div class="form-group">
                                <div class="btn-group-enter">
                                    <div class="remember-me">
                                        <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox"
                                            value="value1" />
                                        <label for="styled-checkbox-1">Запомнить меня</label>
                                    </div>
                                    <button type="submit" class="btn btn-model">
                                        Войти
                                    </button>
                                    <button type="button" class="btn btn-google">
                                        Войти с помощью Google
                                    </button>
                                </div>
                                <p>Нет аккаунта? <a href="#" class="switch-popup">Зарегистрируйся!</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="openModal-register" class="modal">
            <div class="modal-dialog-register">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">ДОБРО ПОЖАЛОВАТЬ!</h3>
                        <p class="modal-subtitle">Пожалуйста, укажите следующие данные для регистрации</p>
                        <a href="#close" title="Close" class="close">×</a>
                    </div>
                    <div class="modal-body">
                        <form action="/register/" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" name="email" class="form-control" placeholder="Введите свой email"
                                    required />
                            </div>
                            <div class="form-group">
                                <label>Пароль</label>
                                <input type="password" name="password" class="form-control" placeholder="**********"
                                    required>
                            </div>
                            <div class="form-group">
                                <label>Повторите пароль</label>
                                <input type="password" name="password_confirm" class="form-control"
                                    placeholder="**********" required>
                                {% if error and error_type == 'register' %}
                                <div class="error-text">{{ error }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-model" id="btn_swap_popUp">
                                        Зарегистрироваться
                                    </button>
                                    <button type="button" class="btn btn-google">
                                        Войти с помощью Google
                                    </button>
                                </div>
                                <p>Есть аккаунт? <a href="#" class="switch-popup">Войди!</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <section class="survey">
            <div class="survey-content">
                <div class="survey-content-header">
                    <h3>Пройди котороткий опрос, и мы подберём для тебя
                        подходящую тренировку!</h3>
                    <img src="{% static 'img/survey.svg' %}" width="62" height="83">
                </div>
                <button id="start-survey"><img src="{% static 'img/pencil.svg' %}" width="35" height="35">
                    <p>Пройти опрос</p>
                </button>
            </div>
        </section>
        <section class="trainings">
            <h2>Тренировки</h2>
            <div class="filters">
                <!-- Общий блок с заголовками фильтров -->
                <div class="filters__headers">
                    <img class="filters-img" src="{% static 'img/filter.svg' %}" width="25" height="25">
                    <a class="filters__header f1" data-target="level">
                        <p>Уровень подготовки</p><img src="{% static 'img/arrow.svg' %}" width="18" height="11">
                    </a>
                    <a class="filters__header f2" data-target="goal" id="2">
                        <p>Цель</p><img src="{% static 'img/arrow.svg' %}" width="18" height="11">
                    </a>
                    <a class="filters__header f3" data-target="place">
                        <p>Место</p><img src="{% static 'img/arrow.svg' %}" width="18" height="11">
                    </a>
                    <a class="filters__header f4" data-target="gender">
                        <p>Пол</p><img src="{% static 'img/arrow.svg' %}" width="18" height="11">
                    </a>
                    <a class="filters__header f5" data-target="special">
                        <p>Специальное</p><img src="{% static 'img/arrow.svg' %}" width="18" height="11">
                    </a>
                </div>

                <!-- Блоки с фильтрами, скрытые по умолчанию -->
                <div class="filters__content">
                    <div class="filters__group" id="level">
                        <label><input type="checkbox" name="level" value="novice">
                            <p>Новичок</p>
                        </label>
                        <label><input type="checkbox" name="level" value="advanced">
                            <p>Продвинутый</p>
                        </label>
                        <label><input type="checkbox" name="level" value="master">
                            <p>Мастер в своём деле</p>
                        </label>
                    </div>

                    <div class="filters__group" id="goal">
                        <label><input type="checkbox" name="goal" value="slim">
                            <p>Похудение</p>
                        </label>
                        <label><input type="checkbox" name="goal" value="mass">
                            <p>Набор массы</p>
                        </label>
                        <label><input type="checkbox" name="goal" value="maintain">
                            <p>Поддержание формы</p>
                        </label>
                    </div>

                    <div class="filters__group" id="place">
                        <label><input type="checkbox" name="place" value="gym">
                            <p>Зал</p>
                        </label>
                        <label><input type="checkbox" name="place" value="home">
                            <p>Дом</p>
                        </label>
                    </div>

                    <div class="filters__group" id="gender">
                        <label><input type="checkbox" name="gender" value="male">
                            <p>Муж.</p>
                        </label>
                        <label><input type="checkbox" name="gender" value="female">
                            <p>Жен.</p>
                        </label>
                    </div>

                    <div class="filters__group" id="special">
                        <label>
                            <input type="checkbox" name="special" value="equipment">
                            <p>Со спортивным инвентарём (для дома)</p>
                        </label>
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="card" id="first-training">
                    <div class="card-title">
                        <img src="{% static 'img/flag.svg' %}" width="25" height="36">
                        <h4>Сплит (продвинутый)</h4>
                    </div>
                    <img class="card-img" src="{% static 'img/card_1.png' %}" width="430" height="250">
                    <p>
                        6-недельная программа, разработаная для тех, кто уже знаком с тренажёрным залом, знает технику
                        выполения основных упражнений и стремится выйти на новый уровень. Программа разбита на 3
                        тренировочных дня в неделю. Каждый день включает тщательно подобранные базовые и изолированные
                        упражнения для достижения максимальных результатов в наборе мышечной массы. Тренировка
                        предусматривает оптимальную прогрессию нагрузки.
                    </p>
                    {% if user.is_authenticated %}
                    <form method="POST" action="/save-workout/">
                        {% csrf_token %}
                        <button type="submit" name="button_value" class="pick-me-btn" value="1">
                            <img src="{% static 'img/pick.svg' %}">
                            <p>Выбрать</p>
                        </button>
                    </form>
                    {% else %}
                    <div class="un-choose">*Ввойдите в аккаунт, чтобы выбрать</div>
                    {% endif %}
                </div>
                <div class="card" id="second-training">
                    <div class="card-title">
                        <img src="{% static 'img/flag.svg' %}" width="25" height="36">
                        <h4>Сплит (продвинутый)</h4>
                    </div>
                    <img class="card-img" src="{% static 'img/card_1.png' %}" width="430" height="250">
                    <p>
                        6-недельная программа, разработаная для тех, кто уже знаком с тренажёрным залом, знает технику
                        выполения основных упражнений и стремится выйти на новый уровень. Программа разбита на 3
                        тренировочных дня в неделю. Каждый день включает тщательно подобранные базовые и изолированные
                        упражнения для достижения максимальных результатов в наборе мышечной массы. Тренировка
                        предусматривает оптимальную прогрессию нагрузки.
                    </p>
                    {% if user.is_authenticated %}
                    <form method="POST" action="/save-workout/">
                        {% csrf_token %}
                        <button type="submit" name="button_value" class="pick-me-btn" value="2">
                            <img src="{% static 'img/pick.svg' %}">
                            <p>Выбрать</p>
                        </button>
                    </form>
                    {% else %}
                    <div class="un-choose">*Ввойдите в аккаунт, чтобы выбрать</div>
                    {% endif %}
                </div>
            </div>
        </section>
        <div id="alert" class="hidden">
            <div class='alert-content'>
                <p>Вы уверенны, что хотите пропустить тренировку?
                    Это повлияет на расчёт комфортных весов для следующей
                    тренировочной недели
                </p>
                <div class="alert-buttons">
                    <button class="no-btn">Нет</button>
                    <button class="ok-btn">Ок</button>
                    <button class="yes-btn">Да</button>
                </div>
            </div>
        </div>
    </main>
    <script src="{% static 'home_js/main.js' %}" type="module"></script>
</body>

</html>